.btn {
    background-color: $mainBlue;
    color: #FFF;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;


&--orange {
    background-color: $mainOrange;
}

&--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall{

        font-size: 1.25rem;
    }
}
    
}