.feature-item {
    position: relative;
    padding-left: 94px;
    padding-top: 1.5rem;
  

    @mixin atSmall {
        padding-left: 94px;
    }
    

    &__icon {
        display: block;
        margin: 0 auto;
       
        @mixin atSmall {
            margin-top: .5em;
            position: absolute;
            left: 0;

        }
    }

    &__title {
font-size:1.6rem;
font-weight: 300;
margin-top: .7em;
margin-bottom: .8rem;
text-align: center;

@mixin atSmall{
    margin-top: 1em;
    font-size:1.875rem;
    text-align: left;

}

    }
}