.primary-nav{
    
    
    
    &--pull-right {
        float: right;


    }

    ul {

        margin:0;
        padding: 0;
        @mixin clearfix;

    }

    li {

        list-style: none;
        float: left;
        padding-right: 20px;
    }

    a {

        color: $mainWhite;
        font-weight: 300;
        text-decoration: none;
        display: block;
        padding: 12px 0;
       

    }

    a:hover {

              text-decoration: underline;

    }
}