.row {
  
    
    @mixin clearfix;

    &__b-margin-until-medium {
     margin-bottom: 1rem;   
    }
   
    @mixin atMedium {

        &__b-margin-until-medium {
            margin-bottom: 0;   
           }

        &__medium-4 {
            float: left;
            width: 33.33%;
    
        }
    
        &__medium-8{
            float: left;
            width: 66.66%;
        }
    }

   &__medium-4--larger{
    width: 37%;
   }

   &__medium-8--smaller{
    width: 63%;
}

&--gutters{
    margin-right: -50px;
}
    &--gutters > div {
    padding-right: 50px;
   
    }

}