.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;

    @mixin atSmall {
        font-size: 3.75rem;
        margin-top: 0.2em;
    }

    strong {

        font-weight: 500;
    }

    &--blue {

        color: $mainBlue;

    }
    
    &__icon {
        
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.6rem;

        @mixin atSmall {
            position: relative;
            top: 8px;
            margin-right: 0.5rem;
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;
      
        }

    }
}