.site-header {

    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    transition: background-color .5s ease-out;

    &--is-expanded {
        background-color: rgba($mainBlue, .55);
    }
    
    @mixin atMedium {
        position: fixed;
        background: rgba($mainBlue, .30);

    &--dark {
        background-color: rgba(23, 51, 72, .85);
    }
    }


    &__btn-container 
    {
        @mixin atMedium {
        float: right;
        }
    }



    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transition: transform .3s ease-out;
        transform-origin: 50% 0%;
        background: $mainBlue;
        padding: 25px 36px;

        @mixin atMedium {
            left:auto;
            transform: translateX(0%);

            .site-header--dark & {
                transform: scale(0.57);
            }

        }

    }

    &__logo__graphic {
        text-indent: -999px;
    }
    
    &__menu-icon {
        width: 20px;
        height: 19px;
       
        position: absolute;
        z-index: 10;
        top: 15px;
        right: 15px;
        
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainWhite;
        transform-origin: 0 0;
        transition: transform .5s ease-out;
        

    }
    &__middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainWhite;
        transition: all .5s ease-out;
        transform-origin: 0 50%;
        

    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainWhite;
        transform-origin: 0 100%;
        transition: transform .5s ease-out;
        

    }
       @mixin atMedium {
              display: none;
            }     
    }

    &__menu-icon--close-x {
        
        &::before {
            transform: rotate(45deg) scaleX(1.25) ;
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }

    }
   

    &__menu-content {
        opacity: 0;
        transform: scale(1.2);
        transition:  all .3s ease-out;
        position: relative;
        z-index: -10;
        padding-top: 90px;
        text-align: center;

        @mixin atMedium {
            opacity: 1;
            z-index: 1;
            padding-top: 0;
            transform: scale(1);
        }

        &--is-visible {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
            
            
        }

    }
}