.testimonial {
    background-color: $Transparency;
    padding: 0 18px 1px 18px;
    margin-bottom: 98px;

  

    @mixin atLarge {
        margin-bottom: 0;
        padding: 0 1.8125rem 1px 1.8125rem;
        
    }
    
    &--last {
        margin-bottom: 0;

    }

    &__photo {
        border-radius: 80px;
        overflow: hidden;
        width:160px;
        height:160px;
        margin: 0 auto -80px auto;
        position: relative;
        top: -80px;
        border: 6px solid $Transparency;

    }

    &__title {
        color: $mainBlue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        
    }
    &__subtitle {
        color: $mainOrange;
        text-align: center;
        font-weight: 400;
        font-size: 0.9375;
        margin: 0.25rem 0 1rem 0;

    }

}